* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    --main-color: #283526;
    --primary-color: #888888;
    --button-background: #2083F6;
    --primary-button-background: #fe7649;
    --background-color: #e2efff;
}

h1,
h2 {
    font-family: 'Mulish', sans-serif;
    color: var(--main-color);
}

h3,
h4 {
    font-family: 'Mulish', sans-serif;
}

h3 {
    font-weight: 750;
    font-size: 1.3rem;
    line-height: 4rem;
}

p,
a,
li,
button {
    font-family: 'Mulish', sans-serif;
    color: var(--primary-color);
}

p {
    font-size: 1.1rem;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.button {
    padding: 0.8rem 1.9rem;
    border-radius: 1.4rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: normal;
    font-weight: normal;
    font-size: 1.2rem;
}


/* ---------------------------Our Menu style--------------------------- */

header {
    padding: 0 12.5rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5.5rem;
}

header nav .left-side-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    /* background-color: rgba(234, 245, 248, 0.747); */
}

header nav .left-side-menu a img {
    width: 8.125rem;
    height: 3.4375rem;
}

header nav .left-side-menu .sub-menu {
    display: flex;
    height: inherit;
}

header nav .left-side-menu a {
    margin-right: 2.5rem;
}

header nav .left-side-menu .sub-menu a li {
    font: size 1.25rem;
    line-height: 2.25rem;
    text-transform: capitalize;
    transition: all 0.2s;
}

header nav .left-side-menu .sub-menu a li:hover {
    color: var(--button-background);
}


/* right side menu style */

header .right-side-menu {
    width: 50%;
    display: flex;
    justify-content: end;
}

header .right-side-menu .sub-menu {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .right-side-menu .sub-menu a {
    margin-left: 5rem;
    padding: 0.43rem 1.25rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1.4rem;
    z-index: 9;
}

header .right-side-menu .sub-menu .button {
    background-color: var(--button-background);
    color: #fff;
    transition: 0.2s;
    z-index: 9;
}

header .right-side-menu .sub-menu .button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--button-background);
}


/* -------------------------content style starts------------------------- */


/* ---------------------main left side----------------------- */

.nav-bar-header {
    position: sticky;
    top: 0;
    /* box-shadow: 2px; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    /* opacity: 1; */
    background-color: white;
}

.main-section {
    padding: 0 12.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 6.25rem; */
}

.main-section .left-side {
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.main-section h1 {
    width: 34.375rem;
    font-size: 4rem;
    line-height: 4.7rem;
    margin-bottom: 3rem;
    text-transform: capitalize;
}

.main-section p {
    width: 26rem;
    margin-bottom: 2.5rem;
}

.main-section .button-group a {
    background-color: var(--button-background);
    color: #fff;
    padding: 0.8rem 1.9rem;
    border-radius: 1.4rem;
    font-size: normal;
    font-weight: normal;
    font-size: 1.2rem;
    transition: 0.2s;
}

.main-section .button-group a:hover {
    background-color: #fff;
    color: var(--button-background);
}


/* ---------------------main right side---------------------- */

.main-section .right-side {
    width: 50%;
    height: 85vh;
    background: var(--background-color);
    /* position: absolute; */
    right: 0;
    top: 0;
    border-radius: 90px 20px 0px 90px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.main-section .right-side img {
    width: 60.5rem;
    height: 45.25rem;
    margin-right: 20.875rem;
}